body {
  background-color: gray;
}
.container {
  display: flex;
}

.navbar {
  background-color: red;
  width: 25%;
  height: 95vh;
}

#editor {
  background-color: royalblue;
  width: 75%;
  height: auto;
}

.CodeMirror {
    font-family: Inconsolata, monospace;
    font-size: 16px;
}
